name: test

on: [ push, pull_request ]
jobs:
  test:
    strategy:
      matrix:
        go: [
            1.13.x,
            1.14.x,
            1.15.x,
        ]
        os: [
            ubuntu-latest,
            macos-latest,
            windows-latest,
        ]

    runs-on: ${{ matrix.os }}

    env:
      OS: ${{ matrix.os }}

    steps:
      - name: Install Go ${{ matrix.go }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
      - name: Checkout
        uses: actions/checkout@v2
      - name: Test
        run: go test -v -race -coverprofile="coverage.txt" -covermode=atomic .
      - name: Upload code coverage
        uses: codecov/codecov-action@v1
        if: matrix.go == '1.15.x'
        with:
          file: coverage.txt
          env_vars: OS

